* {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

textarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 18px;

  font-family: 'Marker Felt', 'Noteworthy', 'Arial', sans-serif;
  font-size: 16px;
}

#statusbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 18px;

  padding-left: 5px;
  padding-right: 5px;

  font-size: 0.75em;
}

#statusbar div {
  display: inline-block;
}

#statusbar .last-save {

}
